<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <module-name>Oauth2 fun ident</module-name>

  <servlet>
    <servlet-name>userinfoServlet</servlet-name>
    <servlet-class>com.johannesbrodwall.oauth2fun.ident.web.UserinfoServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>fetchProfileServlet</servlet-name>
    <servlet-class>com.johannesbrodwall.oauth2fun.ident.web.FetchProfileServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>oauth2callbackServlet</servlet-name>
    <servlet-class>com.johannesbrodwall.oauth2fun.ident.web.Oauth2CallbackServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>errorHandlerServlet</servlet-name>
    <servlet-class>com.johannesbrodwall.oauth2fun.lib.ErrorHandlerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>oauth2callbackServlet</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>fetchProfileServlet</servlet-name>
    <url-pattern>/fetchProfile</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>userinfoServlet</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>errorHandlerServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error</location>
  </error-page>

</web-app>