<!doctype html>
<html>
<head>
	<title>OAuth 2 Demo</title>
	<style>
.error { color: red; }
	</style>
</head>

<body>
	<h1>OAuth 2 demo application</h1>

	<h2>Username: <span id="username">unknown person</span></h2>
	
	<ul id="providers"></ul>
	

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/html" id="nonConfiguredTemplate">
<li>Provider: <%= displayName %>: <a href="<%= clientSignup %>">Create client id and secret</a></li>
</script>
<script type="text/html" id="authenticatedTemplate">
<li>
	Logged in: <%= provider.displayName %>:
	<%= username %>
	<% if (!username) { %>
		<a href="/fetchProfile?provider=<%= provider.providerName %>">fetch profile</a>
	<% } %>
</li>
</script>
<script type="text/html" id="loginTemplate">
<li>Not logged in: <%= displayName %>: <a href="<%= url %>">Login</a></li></li>
</script>
<script type="text/html" id="errorTemplate">
<li class="error">Error: <%= errorMessage %></li></li>
</script>
    <script>
$(function() {
	var nonConfiguredTemplate = _.template($("#nonConfiguredTemplate").text());
	var authenticatedTemplate = _.template($("#authenticatedTemplate").text());
	var loginTemplate = _.template($("#loginTemplate").text());
	var errorTemplate = _.template($("#errorTemplate").text());
	$.getJSON("/userinfo", function(data) {
		$("#username").text(data.username);

		$("#providers").empty();
		for (var i=0; i<data.providers.length; i++) {
			if (data.providers[i].loggedIn) {
				$("#providers").append(authenticatedTemplate(data.providers[i]));
			} else if (data.providers[i].provider.url) {
				$("#providers").append(loginTemplate(data.providers[i].provider));
			} else {
				$("#providers").append(nonConfiguredTemplate(data.providers[i].provider));
			}
			
			if (data.providers[i].errorMessage) {
				$("#providers").append(errorTemplate(data.providers[i]));
			}
		}
	});
});
    </script>
</body>
</html>